<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <div class="alert alert-success"><%= f.error_notification %></div>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <% f.input :password, input_html: { autocomplete: 'off' } %>
    <% f.input :password_confirmation, autocomplete: "off", required: false %>

    <%= f.input :user_nicename, hint: "your login name", required: true %>
    <%= f.input :phone_number,hint: "contact details will only be shared after a captcha is filled. moreover you will receive notification about the person with whom contact is shared" %>
    <%= f.input :short_description, as: :markdown_editor  %>
    <p><%= f.label :"Image upload" %></p>
    <%= f.file_field :avatar %>

    <p> Social links</p>
    <%= f.input :facebook_link %>
    <%= f.input :instagram_link %>
    <%= f.input :linkedin_link %>
    <%= f.input :pinterest_link %>
    <%= f.input :twitter_link %>
    <p>Make public</p>
    <%= f.check_box :public %>
  </div>
  <p><%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %></p>
  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
