<div id="login-box_sign_up">
  <div class="left">
    <h1>Sign up</h1>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>
          <%= f.input :user_nicename,  required: true %>
          <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          <%= f.input :password_confirmation, required: true %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Sign up", :input_html => { :type => "signup_submit" } %>
        </div>
    <% end %>
  </div>

  <div class="right">
    <span class="loginwith">Sign up with<br />social network</span>
    <%= link_to "<button class='social-signin facebook'>Sign in with facebook</button>".html_safe, user_facebook_omniauth_authorize_path %>
  </div>

</div>
