<div class="container">
  <div class="wrap">
    <div class="single-page">
      <p id="notice"> <%= notice %> </p>
      <%= link_to 'Back', foodiye_posts_path %>
      <fieldset>
        <!-- Form Name -->
        <legend>Create post</legend>
        <ul class="nav nav-tabs">
          <li class="active"><a href="#topic" data-toggle="tab">Topic</a></li>
          <li><a href="#photo" data-toggle="tab">Photo</a></li>
          <li><a href="#video" data-toggle="tab">Video</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="topic">
            <%= simple_form_for(@foodiye_post) do |f| %>
              <%= f.error_notification %>
              <div class="form-inputs">
                <%= f.input :title %>
                <%= f.input :description %>
                <%= f.hidden_field :post_type, :value => "topic" %>
                <%= f.hidden_field :user_id, :value => current_user.id %>
                <%= f.button :submit, "Publish", class: 'btn btn-primary' %>
              </div>
            <% end %>
          </div>

          <div class="tab-pane" id="photo">
            <button id="suggest" style="display: none;">suggest title</button>
            <%= simple_form_for(@foodiye_post) do |f| %>
              <%= f.error_notification %>
              <div class="form-inputs">
                <%= f.input :title, input_html: {id: "value"} %>
                <%= f.input :photo_link, input_html: {id: "test"} %>
                <%= f.input :attachment, as: :file %>
                <%= f.input :description %>
                <%= f.hidden_field :post_type, :value => "photo" %>
                <%= f.hidden_field :user_id, :value => current_user.id %>
                <%= f.button :submit, "Publish", class: 'btn btn-primary' %>
              </div>
            <% end %>
          </div>
          <div class="tab-pane" id="video">
            <%= simple_form_for(@foodiye_post) do |f| %>
              <%= f.error_notification %>
              <div class="form-inputs">
                <%= f.input :video_url %>
                <%= f.input :title %>
                <%= f.input :description %>
                <%= f.hidden_field :post_type, :value => "video" %>
                <%= f.hidden_field :user_id, :value => current_user.id %>
                <%= f.button :submit, "Publish", class: 'btn btn-primary' %>
              </div>
            <% end %>
          </div>
          <div class="tab-pane" id="settings">...</div>
        </div>
      </fieldset>
    </div>
  </div>
</div>

<script>
  $("#test").on("keyup", function() {
    var url = $("#test").val();
    $.ajax({
      url : "<%= get_title_path %>",
      type : "get",
      data : { data_value: url },
      success: function(data,status,xhr){
        if (data && (data.message != "no title suggested")) {
          $("#suggest").show();
          document.getElementById('suggest').onclick=function(){
            document.getElementById("value").value = data.message;
          };
        };
      },
    });
  });
</script>