<div class="container">
  <div class="wrap">
    <div class="single-page">
      <p id="notice"> <%= notice %> </p>
      <%= link_to 'Back', foodiye_posts_path %>
      <fieldset>
        <!-- Form Name -->
        <legend>Edit post</legend>
        <div class="tab-content">
          <% if @foodiye_post.post_type == "topic" %>
              <%= simple_form_for(@foodiye_post) do |f| %>
                  <%= f.error_notification %>
                  <div class="form-inputs">
                    <%= f.input :title %>
                    <%= f.input :description %>
                    <%= f.hidden_field :post_type, :value => "topic" %>
                    <%= f.hidden_field :user_id, :value => current_user.id %>
                    <%= f.button :submit, "Publish", class: 'btn btn-primary' %>
                  </div>
              <% end %>
          <% elsif @foodiye_post.post_type == "photo" %>
              <%= simple_form_for(@foodiye_post) do |f| %>
                  <%= f.error_notification %>
                  <div class="form-inputs">
                    <%= f.input :title %>
                    <%= f.input :photo_link %>
                    <%= f.input :attachment, as: :file %>
                    <%= f.input :description %>
                    <%= f.hidden_field :post_type, :value => "photo" %>
                    <%= f.hidden_field :user_id, :value => current_user.id %>
                    <%= f.button :submit, "Publish", class: 'btn btn-primary' %>
                  </div>
              <% end %>
          <% else
               @foodiye_post.post_type == "video" %>
              <%= simple_form_for(@foodiye_post) do |f| %>
                  <%= f.error_notification %>
                  <div class="form-inputs">
                    <%= f.input :video_url %>
                    <%= f.input :title %>
                    <%= f.input :description %>
                    <%= f.hidden_field :post_type, :value => "video" %>
                    <%= f.hidden_field :user_id, :value => current_user.id %>
                    <%= f.button :submit, "Publish", class: 'btn btn-primary' %>
                  </div>
              <% end %>
          <% end %>
          </div>
      </fieldset>
    </div>
  </div>
</div>