<div class="header">
  <div class="wrap">
    <div class="logo">
      <%#= image_tag ('foodiye/foodiye_logo.png') %>
    </div>
    <div class="nav-icon">
      <a href="#" class="right_bt" id="activator"><span> </span> </a>
    </div>
    <div class="box" id="box">
      <div class="box_content">
        <div class="box_content_center">
          <div class="form_content">
            <div class="menu_box_list">
              <ul>
                <li> <%= link_to 'About', foodiye_posts_path %> </li>
                <div class="clear"></div>
              </ul>
            </div>

            <a class="boxclose" id="boxclose"> <span> </span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="top-searchbar">
      <form>
        <input type="text"/><input type="submit" value=""/>
      </form>
    </div>
    <div class="create-post">
      <% if user_signed_in? %>
        <%= link_to " Create post", new_foodiye_post_path %>
      <% end %>
      <% unless user_signed_in? %>
        <%= link_to 'Sign in', new_user_session_path %> or <%= link_to 'Sign up', new_user_registration_path %>
      <% end %>
      <% if user_signed_in? %>
        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <button href="#" class="dropdown-toggle btn btn-default navbar-btn btn-lg" data-toggle="dropdown" id="pricing-btn" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.user_nicename %> <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><%= link_to 'Home',  foodiye_posts_path %></li>
                <li><%= link_to 'Profile', user_path(current_user) %></li>
                <li><%= link_to 'Edit profile', edit_user_registration_path(current_user) %></li>
                <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
              </ul>
            </li>
          </ul>
        </div>
      <% end %>
    </div>
    <!--start modal-->
    <script>(function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s);
      js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.7&appId=318379988503662";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <script>
      $(window).on('scroll',function(e){
        if (this.scrollY> 0) {
          $("nav.navbar").addClass("nav-scroll");
        } else {
          $("nav.navbar").removeClass("nav-scroll");
        }
      });
    </script>
  </div>
</div>