<!DOCTYPE html>
<html>
<p id="notice"><%= notice %></p>
<body>

<%= render 'shared/list_recipe' %>

<% unless params[:tag] %>
    <%= will_paginate @recipes %>
<% else %>
    <%#= will_paginate @post_tags %>
<% end %>
</body>
</html>







