<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>ChefatLarge</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <style>
    ul.hr {
      margin: 0; /* Обнуляем значение отступов */
      padding: 4px; /* Значение полей */
    }
    ul.hr li  {
      color: lightslategray;
      display: inline; /* Отображать как строчный элемент */
      box-sizing: border-box;
      display: inline-block;
      margin: 0;
      padding: 1px 7px;
      border: 1px solid transparent;
      border-radius: 3px;
      font-size: 110%;
      text-decoration: none;
      /*color: #3572b0;*/
    }
  </style>
</head>
<body>
  <p id="notice"><%= notice %></p>
<div id="wrapper">
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-static-top" role="navigation" style="max-height: 50px" >
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" > Dashboard </a>
  </div>
  <!-- /.navbar-header -->
  <ul class="nav navbar-top-links navbar-right">
    <!-- /.dropdown -->
  </ul>
  <!-- /.navbar-top-links -->
  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
        <li>
          <i class="fa fa-dashboard fa-fw">Actions</i>
        </li>
        <li>
          <%=link_to 'Blacklist Domains', black_list_domain_path %>
        </li>

      </ul>
    </div>
  </div>
  </nav>
  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <!--<h1 class="page-header"> </h1>-->
        <div class="page-header">
          <div class = "text-right link-style">
            <% blacklist = Blacklist.new %>
            <%= form_for blacklist, :url => {:action => "add_black_list"} do |f| %>
              <h4> www. <%= f.text_field :domain %>
               <%= f.submit 'Add to blacklist' %> </h4>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <table class="table">
          <thead>
          <tr class="table-links-title">
            <th width="50%"> Domain </th>
            <th> Created at </th>
            <!--<th width="20%"> Destroy </th>-->
          </tr>
          </thead>
          <tbody>
          <% @blacklists.each do |blacklist| %>
            <tr class="table-links">
              <td width="50%"> <%= blacklist.domain %> </td>
              <td> <%= blacklist.created_at %> </td>
              <!--<td width="20%"><%#= link_to 'Destroy', destroy_path(blacklist),
                              method: :delete,
                              data: { confirm: 'Are you sure?' } %></td>-->
            </tr>
              <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <%= will_paginate @blacklists %>
  </div>

  </div>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</div>
</body>
</html>