<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>ChefatLarge</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <style>
    ul.hr {
      margin: 0; /* Обнуляем значение отступов */
      padding: 4px; /* Значение полей */
    }
    ul.hr li  {
      color: lightslategray;
      display: inline; /* Отображать как строчный элемент */
      box-sizing: border-box;
      display: inline-block;
      margin: 0;
      padding: 1px 7px;
      border: 1px solid transparent;
      border-radius: 3px;
      font-size: 110%;
      text-decoration: none;
      /*color: #3572b0;*/
    }
  </style>
</head>
<body>
  <p id="notice"><%= notice %></p>
<div id="wrapper">
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-static-top" role="navigation" style="max-height: 50px" >
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" > Dashboard </a>
  </div>
  <!-- /.navbar-header -->
  <ul class="nav navbar-top-links navbar-right">
    <!-- /.dropdown -->
  </ul>
  <!-- /.navbar-top-links -->
  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
        <li>
          <i class="fa fa-dashboard fa-fw">Actions</i>
        </li>
        <li>
          <%=link_to 'Blacklist Domains', black_list_domain_path %>
        </li>

      </ul>
    </div>
  </div>
  </nav>
  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <!--<h1 class="page-header"> </h1>-->
        <div class="page-header">
          <div class = "text-right link-style">
            <%= link_to 'Create new post', new_post_path %>
            <%= link_to 'Create new recipe', new_recipe_path %>
          </div>
            <div class="link-style">
              <ul class="hr">
                <li class="filter-status">FILTERS:</li>
                <li> <%= link_to 'All posts', dashboard_path(filter: 'all_posts') %>  </li>
                <li> <%= link_to 'My posts', dashboard_path(filter: 'my_posts') %></li>
                <li> <%= link_to 'All recipes', dashboard_path(filter: 'all_recipes') %>  </li>
                <li> <%= link_to 'My recipes', dashboard_path(filter: 'my_recipes') %></li>
                <!--<li> <%#= link_to 'Assigned to me', dashboard_path(filter: 'assigned_to_me') %></li>-->
                <li> <%= link_to 'With comments', dashboard_path(filter: 'with_comments') %> </li>
              </ul>
            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <table class="table">
          <thead>
          <tr class="table-links-title">
            <th width="30%"><%= link_to 'Title', dashboard_path(:sort => 'title', :filter => params[:filter]) %> </th>
            <th> <%= link_to 'Post status', dashboard_path(sort: 'post_status', :filter => params[:filter]) %> </th>
            <th> <%= link_to 'Assignee', dashboard_path(sort: 'title', :filter => params[:filter]) %> </th>
            <th> <%= link_to 'Created', dashboard_path(sort: 'created_at', :filter => params[:filter]) %> </th>
            <th> <%= link_to 'Updates', dashboard_path(sort: 'updated_at', :filter => params[:filter]) %> </th>
          </tr>
          </thead>
          <tbody>
          <% if params[:filter]  == 'all_posts' or params[:filter]  == 'my_posts' or params[:filter].blank?%>
            <% unless @posts.nil? %>
              <% @posts.each do |post| %>
                <tr class="table-links">
                  <td width="30%"> <%= link_to post.title, edit_post_path(post) %> </td>
                  <td> <%= post.post_status %> </td>
                  <td> Grinko Dmytro </td>
                  <td> <%= post.created_at %> </td>
                  <td> <%= post.updated_at %> </td>
                </tr>
              <% end %>
            <% end %>
          <% elsif params[:filter]  == 'all_recipes' or params[:filter]  == 'my_recipes'%>
            <% unless @recipes.nil? %>
              <% @recipes.each do |post| %>
                <tr class="table-links">
                  <td width="30%"> <%= link_to post.title, edit_recipe_path(post) %> </td>
                  <td> <%= post.post_status %> </td>
                  <td> Grinko Dmytro </td>
                  <td> <%= post.created_at %> </td>
                  <td> <%= post.updated_at %> </td>
                </tr>
              <% end %>
            <% end %>
          <% elsif params[:filter]  == 'with_comments' %>
            <% unless @posts.nil? %>
              <% @posts.each do |post| %>
                <tr class="table-links">
                  <td width="30%"> <%= link_to post.title, edit_post_path(post) %> </td>
                  <td> <%= post.post_status %> </td>
                  <td> Grinko Dmytro </td>
                  <td> <%= post.created_at %> </td>
                  <td> <%= post.updated_at %> </td>
                </tr>
              <% end %>
            <% end %>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <% if params[:filter]  == 'all_posts' or params[:filter]  == 'my_posts' or params[:filter].blank?%>
      <% unless params[:filter]  == 'with_comments'%>
        <%= will_paginate @posts %>
      <% end %>
    <% elsif params[:filter]  == 'all_recipes' or params[:filter]  == 'my_recipes'%>
      <%= will_paginate @recipes %>
    <% end %>
  </div>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</div>
</body>
</html>