<% javascript_include_tag "https://www.google.com/recaptcha/api.js" %>
<style>
  #captcha {
    visibility: hidden;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% unless @user.avatar_file_size.nil? %>
      <div class="col-md-8">
        <%= image_tag(@user.avatar.url(:medium), class:"img-responsive") %>
      </div>
          <% else %>
          <%unless @user.avatar_file_name.nil?%>
          <div class="col-md-8">
            <%= image_tag @user.avatar_file_name, class:"img-responsive" %>
          </div>
              <% end %>
      <% end %>
      <div class="col-md-4">
        <p><%= @user.user_nicename %></p>
        <p><%= @user.short_description %></p>
        <button type="button" id="details" class="btn btn-primary btn-md">Get contact details</button>
        <div id="captcha">
          <p> Add your email</p>
          <form action="<% user_path(@user) %>" method="get" >
            <input type="text" name="mail" value=""><br>
            <p>  <%= recaptcha_tags :callback => 'success_captcha' %> </p>
            <p><input id="submitBtn" type="submit" disabled="disabled"></p>
          </form>


        </div>
        <div class="entry-widget">
          <div class="widget-title follow fb-xfbml-parse-ignore">
            <% unless @user.facebook_link.nil? %>
            <%= link_to image_tag('social_icons/32/facebook.png'), (@user.facebook_link) %>
            <% end %>
            <% unless @user.instagram_link.nil? %>
            <%= link_to image_tag('social_icons/32/instagram.png'), (@user.instagram_link) %>
            <% end %>
            <% unless @user.linkedin_link.nil? %>
            <%= link_to image_tag('social_icons/32/linkedin.png'), (@user.linkedin_link) %>
            <% end %>
            <% unless @user.pinterest_link.nil? %>
            <%= link_to image_tag('social_icons/32/pinterest.png'), (@user.pinterest_link) %>
            <% end %>
            <% unless @user.twitter_link.nil? %>
            <%= link_to image_tag('social_icons/32/twitter.png'), (@user.twitter_link) %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
<script type="text/javascript">
  $(document).ready(function () {
    $('#details').click(function () {
      var object = document.getElementById('captcha');
      object.style.visibility = 'visible';
      return false;
    });


//      var obj = document.getElementById('recaptcha-accessible-status');
//    if obj.aria-atomic == true {
//      document.getElementById('submitBtn').disabled = false;
//    };




  });

  function success_captcha() {
    $('#submitBtn').removeAttr('disabled');
  }
</script>
