<article>
  <!-- Blog item Start -->
  <div class="blog-item-wrap">
    <!-- Post Format icon Start -->
    <div class="post-format">
      <span><i class="ico-bookmark"></i></span>
    </div>
    <!-- Post Format icon End -->
    <% if post.class == Post %>
      <h2> <%= link_to post.title, post_path(post) %> </h2>
    <% else %>
      <h2> <%= link_to post.title, recipe_path(post) %> </h2>
    <% end %>
    <!-- Entry Meta Start-->
    <div class="entry-meta">
      <% unless post.user.blank? %>
        <span class="meta-part"><i class="ico-user"></i> <%= link_to post.user.user_nicename, authors_path(post.user.user_nicename) %> </span>
      <% end %>
      <span class="meta-part"><i class="ico-calendar-alt-fill"></i>  </span> <%= post.created_at %>
      <span class="meta-part"><i class="ico-tag"></i>Tags: <%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></span>
      <% unless post.category.blank? %>
        <span class="meta-part"><i class="ico-tag"></i> Category: <%= link_to post.category.name, category_path(post.category.slug) %> </span>
      <% end %>
      <% if check_current_user? %>
        <span class="meta-part"><i class="ico-tag"></i> Status: </span><%= post.post_status %>
      <% end %>
      <!--class="ico-tag"  class="ico-comments-->
    </div><!-- Entry Meta End-->
    <!-- Feature inner Start -->
    <div class="feature-inner">
    </div><!-- Feature inner End -->
    <!-- Post Content Start -->
    <div class="post-content">
      <p> <% post.attachments.where(main_image: "yes").each do |attachment| %>
        <%= image_tag attachment.attachment.url %> <% end %></p>
      <p><%= raw post.content %> </p>
    </div><!-- Post Content End -->
    <div class="entry-more">
      <% if check_current_user? %>
        <div class="pull-left">
          <% if controller.controller_name == 'recipes' %>
              <a class="btn btn-common" href="<%=edit_recipe_path(post)%>">Edit <i class="ico-arrow-right"></i></a>
          <% else %>
              <a class="btn btn-common" href="<%=edit_post_path(post)%>">Edit <i class="ico-arrow-right"></i></a>
          <% end %>
        </div>
      <% end %>
    </div>
  </div><!-- Blog item End -->
</article><!-- Blog Article End-->