<style>
  .letter {
    color: black; /* Красный цвет символов */
    font-size: 100%; /* Размер шрифта в процентах */
  }
  .pad {
    margin-top: 5%; /* Отступ сверху */
  }
</style>
<div class="col-md-9" id="test">
  <p align="right"><%= rating_for @recipe, 'title', star: 5 %></p>
    <div class="col-md-3">
      <%= image_tag(@recipe.attachment.url(:medium), class:"img-responsive")%>
    </div>
    <div class="col-md-9">
      <h2> <%= @recipe.name %> </h2>
      <p><%= @recipe.short_description %> </p>
    </div>
    <div class="col-md-3">
    </div>
      <div class="col-md-9 pad">
        <ul>
          <li> <strong>Course:</strong> <%= @recipe.course %> </li>
          <li> <strong>Cuisine</strong> <%= @recipe.cuisine %> </li>
          <li> <strong>Skill level</strong> <%= @recipe.skill_level %> </li>
        </ul>
      </div>
      <div class="col-md-3">
      </div>
      <div class="col-md-9 pad">
        <table width="100%" cellspacing="0" border="0">
          <tr>
            <th> Servings </th>
            <th> Prep time </th>
            <th> Cook time </th>
          </tr>
          <tr>
            <td><%= @recipe.servings %> people </td>
            <td>  <%= @recipe.prep_time %> minutes </td>
            <td> <%= @recipe.cook_time %> minutes </td>
          </tr>
        </table>
      </div>
      <div class="col-md-9">
        <h3> Ingredients </h3>
      </div>
      <div class="col-md-9">
        <table width="80%" cellspacing="0" border="0">
          <% @recipe.ingredient.to_a.each do |element| %>
            <tr>
              <td>
                <%= element.find { |h| h['quantity'] }['quantity'] %>
                <%= element.find { |h| h['mera'] }['mera'] %>
              </td>
              <td>
                <%= element.find { |h| h['name'] }['name'] %>
                <%= element.find { |h| h['extra'] }['extra'] %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
      <div class="col-md-9">
        <h3> Instructions </h3>
      </div>
        <% @recipe.instruction.to_a.each do |element| %>
          <div class="col-md-9">
            <ul>
              <li><%= element.find { |h| h['step'] }['step'] %> </li>
            </ul>
          </div>
        <% end %>
        <div class="col-md-9">
          <h4>Recipe Notes</h4>
          <%= raw @recipe.note %>
        </div>
</div>