<div class ="users">
<% if user_signed_in? %>
    <span>Hello, <%= current_user.email %></span>
    <span><%= link_to 'Home', root_path %></span>
    <span><%= link_to 'Profile', user_path(current_user) %></span>
    <span><%= link_to 'Edit profile', edit_user_registration_path(current_user) %></span>
    <p><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %> </p>
  <% else %>
    <%= link_to 'Sign in', new_user_session_path %> or <%= link_to 'Sign up', new_user_registration_path %>
<% end %>
</div>