<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-inner text-center">
          <ul class="footer-menu">
            <li>
              <%= link_to 'Home', root_path %>
            </li>
            <li>
              <%= link_to 'Posts', posts_path %>
            </li>
            <li>
              <%= link_to 'Recipes', recipes_path%>
            </li>
          </ul>
          <div class="copyright">
            <p> © 2016. Developed by </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>