<!--<div class="container">-->
<p id="notice"> <%= notice %> </p>
<div class="row">
  <div class="col-md-12">
    <% if @recipe.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@recipe.errors.count, "error") %> prohibited
            this article from being saved:
          </h2>
          <ul>
            <% @recipe.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              <span class="glyphicon glyphicon-file"></span> Add New Recipe </a>
          </h4>
        </div>
          <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
              <div class="row">
                <%= form_for @recipe do |f| %>
                  <div class="col-md-9">
                    <div class="form-group">
                      <%= f.text_field :title, class: 'form-control', placeholder: :title %>
                      <div class="form-group">
                        <%= f.cktext_area :content, ckeditor: {language: 'en'} %>
                      </div>
                      <h2>General</h2>
                      <div class="form-group">
                        <%= f.label_tag :title %>
                        <%= f.text_field :name, placeholder: 'leave blank to use post title', class: 'form-control' %>
                      </div>
                      <div class="form-group">
                        <%= f.label_tag :description %>
                        <%= f.text_area :short_description, :rows => 3, class: 'form-control' %>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          <p>
                            <%= f.label_tag :servings %>
                            <%= f.number_field :servings, class: 'form-control' %>
                            <%= "persons" %>
                          </p>
                          <p>
                            <%= f.label_tag :prep_time %>
                            <%= f.number_field :prep_time, class: 'form-control' %>
                            <%= "minutes" %>
                          </p>
                          <p>
                            <%= f.label_tag :cook_time %>
                            <%= f.number_field :cook_time, class: 'form-control' %>
                            <%= "minutes" %>
                          </p>
                          <p>
                            <%= f.label_tag :passive_time %>
                            <%= f.number_field :passive_time, class: 'form-control' %>
                            <%= "minutes" %>
                          </p>
                        </div>
                      </div>
                      <h2>Ingredients</h2>
                      <table class="display" width="80%" cellspacing="0">
                        <tbody id="ingredients_holder">
                        <% unless controller.action_name == "new" %>
                          <% @recipe.ingredient.values.each_with_index do |value, key| %>
                            <tr>
                              <td>
                                <input type="text" placeholder="1" class="form-control" name="recipe[ingredient][<%= key %>][quantity]" value="<%= value['quantity'] %>">
                              </td>
                              <td>
                                <input type="text" placeholder="tbsp" class="form-control" name="recipe[ingredient][<%= key %>][mera]" value="<%= value['mera'] %>">
                              </td>
                              <td>
                                <input type="text" placeholder="olive oil" class="form-control" name="recipe[ingredient][<%= key %>][name]" value="<%= value['name'] %>">
                              </td>
                              <td>
                                <input type="text" placeholder="extra virgin" class="form-control" name="recipe[ingredient][<%= key %>][extra]" value="<%= value['extra'] %>">
                              </td>
                              <td><a href class="remove_ingredients active">Remove</a></td>
                            </tr>
                          <% end %>
                        <% end %>
                        <% number = @recipe.ingredient.blank? ? 0 : @recipe.ingredient.length %>
                        <tr>
                          <td>
                            <input type="text" placeholder="1" class="form-control" name="recipe[ingredient][<%= number %>][quantity]">
                          </td>
                          <td>
                            <input type="text" placeholder="tbsp" class="form-control" name="recipe[ingredient][<%= number %>][mera]">
                          </td>
                          <td>
                            <input type="text" placeholder="olive oil" class="form-control" name="recipe[ingredient][<%= number %>][name]">
                          </td>
                          <td>
                            <input type="text" placeholder="extra virgin" class="form-control" name="recipe[ingredient][<%= number %>][extra]">
                          </td>
                          <td><a href class="remove_ingredients active">Remove</a></td>
                        </tr>
                        </tbody>
                      </table>
                      <a href id="add_field_button" class="active">Add an ingridient</a>
                      <h2>Instructions</h2>
                      <table id="instructions" class="display" width="100%" cellspacing="0">
                        <tbody id="instructions_holder">
                        <% unless controller.action_name == "new" %>
                          <% @recipe.instruction.values.each_with_index do |value, key| %>
                            <tr>
                              <td>
                                <input type="text" rows="3" placeholder="" class="form-control" name="recipe[instruction][<%= key %>][step]" value="<%= value['step'] %>">
                              </td>
                              <td><a href class="remove_instructions active">Remove </a></td>
                            </tr>
                          <% end %>
                        <% end %>
                        <% number = @recipe.instruction.blank? ? 0 : @recipe.instruction.length %>
                        <tr>
                          <td>
                            <input type="text" rows="3" placeholder="" class="form-control" name="recipe[instruction][<%= number %>][step]">
                          </td>
                          <td><a href class="remove_instructions active">Remove </a></td>
                        </tr>
                        </tbody>
                      </table>
                      <a href id="add_instruction_button" class="active"> Add an instructions</a>
                      <h2> Recipe notes </h2>
                      <%= f.file_field :attachment %>
                      <p>
                        <%= f.cktext_area :note, cols: 3, ckeditor: {language: 'en', uiColor: '#eff4ff', toolbar: 'mini', height: 100} %>
                      </p>
                    </div>
                  </div>
                    <div class="col-md-3">
                      <div class="well well-sm well-primary">
                        <div class="form-group">
                          <%= f.label :post_status, "Recipe status" %>
                          <div class="form-group">
                            <label for="form-control"> Shedule date publish </label>
                            <% if @recipe.post_status == "ready for publish" %>
                              <p><%= f.date_select :schedule_date %></p>
                              or
                              <p><input type="checkbox" name="schedule_box" value="immediately">IMMEDIATELY<Br></p>
                            <% end %>
                          </div>
                          <%= f.select :post_status, options_for_select(article_status_all, selected_key = f.object.post_status), {}, class: 'form-control' %>
                          <%= f.label :category_id, "Category" %>
                          <%= f.select :category_id, options_for_select(Category.all.map { |u| [u.name, u.id] }), {}, class: "form-control" %>
                          <%= f.label :tag_list, "Tags (separated by commas)" %><br/>
                          <%= f.text_field :tag_list, class: 'form-control', placeholder: :tags %>
                          <%= f.label_tag :course %>
                          <%= f.text_field :course, class: 'form-control' %>
                          <%= f.label_tag :cuisine %>
                          <%= f.text_field :cuisine, class: 'form-control' %>
                        </div>
                        <%= f.submit 'Save', class: 'btn btn-success btn-sm' %>
                      </div>
                      <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <div id="asignee" class="form-group">
                              <select form="post_collaborator" class="form-control" name=post_collaborator[user_collaborator_id] id="user_collaborator_post_collaborator_id">
                                <%= User.where('role_id=? or role_id=?', '2', '3').each do |u| %>
                                    <option value="<%= u.id %>"><%= u.email %> </option>
                                <% end %>
                              </select>
                              <input form="post_collaborator" type="hidden" name="post_collaborator[recipe_id]" value="<%= @recipe.id %>"/>
                              <% if check_recipe_coll_user == true %>
                                  <input form="post_collaborator" type="submit" name="commit" value="Add to collaborator list"/>
                              <% end %>
                              <% if check_recipe_coll_user == true %>
                                  <label for="form-control">
                                    Post collaborators (click to delete)
                                  </label>
                              <% end %>
                              <% @recipe.post_collaborators.each do |post_collaborator| %>
                                <div class="form-control">
                                  <% post_collaborator %>
                                  <% u = User.find(post_collaborator.user_collaborator_id) %>
                                  <%= link_to "#{u.email}", post_collaborator_path(post_collaborator),
                                              method: :delete,
                                              data: {confirm: 'Are you sure?'} %>
                                </div>
                              <% end %>
                            </div>
                            <div class="form-group">
                              <label for="form-control">Revision</label>
                              <select class="form-control" id="select_version">
                                <% @recipe.versions.reverse.each do |version| %>
                                  <% unless version.event == 'create' %>
                                    <option value="<%= version.id %>"> <%= version.created_at %>
                                      Event: <%= version.event %>
                                    </option>
                                  <% end %>
                                <% end %>
                              </select>
                              <button id="show_version">Show</button>
                            </div>
                            <!--collaborator end-->
                            <% if check_recipe_coll_user == true %>
                              <%= form_for @recipe do |f| %>
                                <%= f.hidden_field :secret, :value => @gen %>
                                <%= f.submit 'Generate Secret URL' %>
                              <% end %>

                            <% end %>
                          <% end %>
                            <% if current_user.role_id == 2 %>
                              <%= form_for PostCollaborator.new do |f| %>
                                <%= f.hidden_field :recipe_id, :value => @recipe.id %>
                                <%= f.hidden_field :user_collaborator_id, :value => current_user.id %>
                                <td><%= f.submit 'add me as collaborator' %> </td>
                              <% end %>
                          <% end %>
                    </div>
                  </div>
                </div>
              </div>
                <div id="content"> <%= @secret_url %></div>
                <button class="copy" title="content">Copy link</button>
            </div>
          </div>
      </div>
    </div>
  </div>
  <!--Comments block-->
  <% unless @recipe.nil? or @comment_block.nil? %>
      <div class="col-md-9" id="">
        <div id="comments_list">
          <div class="container  col-lg-12 col-md-12 col-sm-12" id="comments_list_inner">
            <div class="TITLE-com col-lg-12 col-md-12 col-sm-12 text-center"><strong>COMMENTS</strong>
              <div class="pull-right" data-toggle="modal" data-target="#widgetsettings"><i class="fa fa-cog"></i>
              </div>
            </div>
            <div class="container border comment-bg col-lg-12 col-xs-12">
              <% @post_comments.each do |comment| %>
                  <div class="comment">
                    <div class="comment-bg">
                      <div class="comment-item">
                        <div class="comment-txt">
                          <% unless comment.collaborate_user.blank? %>
                              <%= link_to comment.collaborate_user, user_path(User.find_by_email(comment.collaborate_user).id) %>
                          <% end %>
                          <%= comment.body %>
                        </div>
                        <div class="comment-name"> <%= current_user.email %>
                          (<%= comment.created_at.strftime("%d/%m/%Y %H:%M") %>)
                        </div>
                      </div>
                    </div>
                  </div>
              <% end %>
            </div>
            <%= js_will_paginate @post_comments %>
          </div>
        </div>
        <%= form_for([@recipe, @comment_block]) do |f| %>
            <p> <%= f.text_area :body, rows: 5, style: style="margin: 0px; width: 905px; height: 106px;" %> </p>
            <% if check_post_coll_user == true %>
                <p> <%= f.submit 'comment' %> </p>
            <% end %>
        <% end %>
      </div>
      </div>
  <% end %>
  </div>
</div>
  <%unless @post_collaborator.nil?%>
    <%= form_for(@post_collaborator, :html => {:id => "post_collaborator"}) do |f| %>
  <% end %>
    <% end %>

  <% unless @recipe.nil? or @comment_block.nil? %>
      <script type="text/javascript">
        $(document).ready(function () {

          $('#show_version').click(function () {
            var url = '<%=edit_recipe_path(@recipe)%>/' + $('#select_version').val();
            document.location = url;
            return false;
          });

          $("#comments_list").on("click", "a[paginate=true]", function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            $("#comments_list").load(url + ' #comments_list_inner')
          });
        });

      </script>
  <% end %>

  <script type="text/javascript">
    var number_fields = $('#ingredients_holder tr').length;
    $(document).ready(function () {
      $('#add_field_button').click(function () {
        number_fields += 1;
        var html = '<tr><td><input type="text" class="form-control" placeholder="1" name="recipe[ingredient][' + number_fields + '][quantity]"></td><td><input type="text" class="form-control" placeholder="tbsp" name="recipe[ingredient][' + number_fields + '][mera]"></td><td><input type="text" class="form-control" placeholder="olive oil" name="recipe[ingredient][' + number_fields + '][name]"></td><td><input type="text" class="form-control" placeholder="extra virgin" name="recipe[ingredient][' + number_fields + '][extra]"></td> <td><a href class="remove_ingredients active">Remove</a></td></tr>';
        $('#ingredients_holder').append(html);
        return false;
      });

      $(document).on('click', '.remove_ingredients', function () {
        $(this).parents('tr').remove();
        return false;
      });
    });
  </script>

  <script type="text/javascript">
    var instruction_fields = 0;
    $(document).ready(function () {
      $('#add_instruction_button').click(function () {
        instruction_fields += 1;
        var html = '<tr><td><input type="text" class="form-control" name="recipe[instruction][' + instruction_fields + '][step]"></td><td> <a href class="remove_instructions active ">Remove </a></td></tr>';
        $('#instructions_holder').append(html);
        return false;
      });

      $(document).on('click', '.remove_instructions', function () {
        $(this).parents('tr').remove();
        return false;
      });

      function SelectContent(element) {
        var doc = document
            , text = doc.getElementById(element)
            , range, selection
            ;
        if (doc.body.createTextRange) {
          range = document.body.createTextRange();
          range.moveToElementText(text);
          range.select();
        } else if (window.getSelection) {
          selection = window.getSelection();
          range = document.createRange();
          range.selectNodeContents(text);
          selection.removeAllRanges();
          selection.addRange(range);

        }
        document.execCommand('Copy');
      }

      $(".copy").click(function () {

        SelectContent($(this).attr('title'));
      });

    });
  </script>