<!--<div class="container">-->
<div class="row">
  <div class="col-md-12">
    <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@post.errors.count, "error") %> prohibited
            this article from being saved:
          </h2>
          <ul>
            <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              <span class="glyphicon glyphicon-file"></span> POST NEW ARTICLE </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-9">
                <div class="form-group">
                  <%= form_for @post do |f| %>
                    <%= f.text_field :title, class: 'form-control', placeholder: :title %>
                </div>
                  <div class="form-group">
                    <%= f.text_field :name, class: 'form-control', placeholder: :name %>
                  </div>
                    <div class="form-group">
                      <%= f.cktext_area :content, ckeditor: {language: 'en'} %>
                    </div>
              </div>
                <div class="col-md-3">
                  <div class="well well-sm well-primary">
                    <div class="form-group">
                      <label for="form-control">
                        Post status
                      </label>
                        <%= f.select :post_status, options_for_select(article_status_all, selected_key = f.object.post_status), {}, class: 'form-control' %>
                      <div class="form-group">
                        <label for="form-control"> Shedule date publish </label>
                        <% if @post.post_status == "ready for publish" %>
                          <p><%= f.date_select :schedule_date %></p>
                           or
                           <p><input type="checkbox" name="schedule_box" value="immediately">IMMEDIATELY<Br></p>
                        <% end %>
                      </div>
                      <div class="form-group">
                        <label for="form-control"> Category </label>
                          <%= f.select :category_id, options_for_select(Category.all.map { |u| [u.name, u.id] }),{}, class: "form-control" %>
                      </div>
                        <%= f.label :tag_list, "Tags (separated by commas)" %><br />
                        <%= f.text_field :tag_list, class: 'form-control', placeholder: :tags %>
                    </div>
                      <%= f.submit 'Save', class: 'btn btn-success btn-sm' %>
                  <% end %>
                 </div>
                  <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <div id="asignee" class="form-group">
                          <%unless @post_collaborator.nil?%>
                          <%= form_for(@post_collaborator, :html => {:id => "assign"} ) do |f| %>
                            <%= f.select :user_collaborator_id, options_for_select(User.where('role_id=? or role_id=?', '2', '3').map { |u| [u.email, u.id] }),{}, class: "form-control" %>
                            <%= f.hidden_field :post_id, :value => @post.id%>
                            <% if check_post_coll_user == true %>
                              <%= f.submit 'Add to collaborator list' %>
                            <% end %>
                          <% end %>
                              <% end %>
                          <% if check_post_coll_user == true %>
                          <label for="form-control">
                            Post collaborators (click to delete)
                          </label>
                          <% end %>
                            <% @post.post_collaborators.each do |post_collaborator|%>
                              <div class="form-control">
                                <% post_collaborator %>
                                <% u = User.find(post_collaborator.user_collaborator_id) %>
                                <%= link_to  "#{u.email}", post_collaborator_path(post_collaborator),
                                  method: :delete,
                                  data: { confirm: 'Are you sure?' } %>
                              </div>
                            <% end %>
                        </div>
                          <div class="form-group">
                            <label for="form-control">Revision</label>
                            <select class="form-control" id="select_version">
                              <% @post.versions.reverse.each do |version| %>
                                <% unless version.event == 'create' %>
                                  <option value="<%= version.id %>"> <%= version.created_at %>
                                    Event: <%= version.event %></option>
                                <% end %>
                              <% end %>
                            </select>
                            <button id="show_version">Show</button>
                          </div>
                         <!--collaborator end-->
                        <% if check_post_coll_user == true %>
                          <%= form_for @post do |f| %>
                            <%= f.hidden_field :secret, :value => @gen%>
                            <%= f.submit 'Generate Secret URL' %>
                          <% end %>
                          <div id="content"> <%= @secret_url %> </div>
                          <button class="copy" title="content">Copy link</button>
                        <% end %>
                      </div>
                      <% if current_user.role_id == 2 %>
                          <%= form_for PostCollaborator.new  do |f| %>
                              <%= f.hidden_field :post_id, :value =>  @post.id  %>
                              <%= f.hidden_field :user_collaborator_id, :value =>  current_user.id %>
                              <td><%= f.submit 'add me as collaborator' %> </td>
                          <% end %>
                      <% end%>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <!--Comments block-->
      <% unless @post.nil? or @comment_block.nil? %>
        <div class="col-md-9" id="">
          <div id="comments_list">
            <div class="container  col-lg-12 col-md-12 col-sm-12" id="comments_list_inner">
              <div class="TITLE-com col-lg-12 col-md-12 col-sm-12 text-center"><strong>COMMENTS</strong>
                <div class="pull-right" data-toggle="modal" data-target="#widgetsettings"><i class="fa fa-cog"></i>
                </div>
              </div>
              <div class="container border comment-bg col-lg-12 col-xs-12">
                <% @post_comments.each do |comment| %>
                  <div class="comment">
                    <div class="comment-bg">
                      <div class="comment-item">
                        <div class="comment-txt">
                          <% unless comment.collaborate_user.blank?%>
                            <%= link_to comment.collaborate_user, user_path(User.find_by_email(comment.collaborate_user).id) %>
                          <% end %>
                          <%= comment.body %>
                        </div>
                        <div class="comment-name"> <%= current_user.email %>
                          (<%= comment.created_at.strftime("%d/%m/%Y %H:%M") %>)
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
              <%= js_will_paginate @post_comments %>
            </div>
          </div>
          <%= form_for([@post, @comment_block]) do |f| %>
            <p> <%= f.text_area :body, rows: 5, style: style="margin: 0px; width: 905px; height: 106px;" %> </p>
            <% if check_post_coll_user == true %>
              <p> <%= f.submit 'comment' %> </p>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% unless @post.nil? or @comment_block.nil? %>
  <script type="text/javascript">
    $(document).ready(function () {
      $('#show_version').click(function () {
        var url = '<%=edit_post_path(@post)%>/' + $('#select_version').val();
        document.location = url;
      });

      $("#comments_list").on("click", "a[paginate=true]", function(e){
        e.preventDefault();
        var url = $(this).attr('href');
        $("#comments_list").load(url + ' #comments_list_inner')
      });

      function SelectContent(element) {
        var doc = document
            , text = doc.getElementById(element)
            , range, selection
            ;
        if (doc.body.createTextRange) {
          range = document.body.createTextRange();
          range.moveToElementText(text);
          range.select();
        } else if (window.getSelection) {
          selection = window.getSelection();
          range = document.createRange();
          range.selectNodeContents(text);
          selection.removeAllRanges();
          selection.addRange(range);

        }
        document.execCommand('Copy');
      }
      $(".copy").click(function(){

        SelectContent( $(this).attr('title'));
      });
    });
  </script>
<% end %>