<!-- Content Start -->
<div id="content">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <!-- Blog Article Start-->
        <% @posts.each do |post| %>
          <%= render 'shared/article_block', :post => post %>
        <% end %>
      </div>
    </div>
  </div>
</div>


