<p id="notice">
  <%= notice %></p>
<!-- Content Start -->
<div id="content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <!-- Blog Article Start-->
        <article>
          <!-- Blog item Start -->
          <div class="blog-item-wrap">
            <!-- Post Format icon Start -->
            <div class="post-format">
              <span><i class="ico-bookmark"></i></span>
            </div>
            <!-- Post Format icon End -->
            <h2> <%= link_to @post.title, post_path(@post) %> </h2>
            <!-- Entry Meta Start-->
            <div class="entry-meta">
              <% unless @post.user.blank? %>
                <span class="meta-part"><i class="ico-user"></i> <%= link_to @post.user.user_nicename, authors_path(@post.user.user_nicename) %> </span>
              <% end %>
              <span class="meta-part"><i class="ico-calendar-alt-fill"></i>  </span> <%= @post.created_at %>
              <span class="meta-part"><i class="ico-tag"></i>Tags: <%= raw @post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></span>
              <% unless @post.category.blank? %>
                <span class="meta-part"><i class="ico-tag"></i> Category: <%= link_to @post.category.name, category_path(@post.category.slug) %> </span>
              <% end %>
              <span class="meta-part"><i class="ico-tag"></i> Status:  </span> <%= @post.post_status %>
              <!--class="ico-tag"  class="ico-comments-->
            </div><!-- Entry Meta End-->
            <!-- Feature inner Start -->
            <div class="feature-inner">
            </div><!-- Feature inner End -->
            <!-- Post Content Start -->
            <div class="post-content">
              <p> <% @post.attachments.where(main_image: "yes").each do |attachment| %>
                  <%= image_tag attachment.attachment.url %> <% end %></p>
              <p><%= raw@post.content %> </p>
            </div><!-- Post Content End -->
            <div class="entry-more">
              <div class="pull-left">
                <a class="btn btn-common" href="<%=edit_post_path(@post)%>">Edit <i class="ico-arrow-right"></i></a>
              </div>
              <div class="share-icon pull-right">
                <span class="socialShare"></span>
              </div>
            </div>
          </div><!-- Blog item End -->
        </article><!-- Blog Article End-->
      </div>
      <div class="col-md-4">
        <!-- Blog Article Start-->
        <% @post.similar_posts.each do |similar|%>
          <% unless similar.title.blank? %>
            <article>
              <!-- Blog item Start -->
              <div class="blog-item-wrap">
                <!-- Post Format icon Start -->
                <div class="post-format">
                  <span><i class="ico-bookmark"></i></span>
                </div>
                <div class="post-content">
                  <%=  link_to similar.title, post_path(similar) %>
                  <p> <% main_image = similar.attachments.where(main_image: "yes").first %>
                    <%unless main_image.nil?%>
                      <%= image_tag main_image.attachment.url %> </p>
                    <% end %>
                </div><!-- Post Content End -->
                <!-- Post Format icon End -->
                <!-- Entry Meta Start-->
                <div class="entry-more">
                  <div class="share-icon pull-right">
                    <span class="socialShare"></span>
                  </div>
                </div>
              </div><!-- Blog item End -->
            </article><!-- Blog Article End-->
          <% end %>
            <%#= will_paginate similar%>
        <% end %>

      </div>
    </div>
  </div>
</div>


