<!-- Fixed navbar -->

<nav class="navbar navbar-default ">
  <div class="container">
    <div class="navbar-header dropdown">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--<a class="navbar-brand user-img bg-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>-->
      <div class="pull-left user-info">
        <p class="no-pad">  </p>

      </div>


    </div>
    <div class="block_search">
      <div class="wrap">
        <%= form_tag(results_path, method: :get, role: 'search') do %>
            <%= radio_button_tag(:search, "posts_recipes", checked = true) %>
            <%= label_tag(:posts_recipes, "posts + recipes") %>
            <%= radio_button_tag(:search, "profiles") %>
            <%= label_tag(:profiles, "profiles") %>
            <%= text_field_tag :query, params[:query], class: "searchTerm" %>
            <%= button_tag(type: "submit", class: "searchButton",  name: nil) do %>
                <i class="fa fa-search"></i>
            <% end %>
          <% end %>
      </div>
   </div>

    <% if user_signed_in? %>
        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <button href="#" class="dropdown-toggle btn btn-default navbar-btn btn-lg" data-toggle="dropdown" id="pricing-btn" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.user_nicename %> <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><%= link_to 'Home', root_path %></li>
                <% if current_user.role.name == "admin" || current_user.role.name == "editor" %>
                  <li><%= link_to 'Dashboard', (dashboard_path) %></li>
                <% end %>
                <li><%= link_to 'Profile', user_path(current_user) %></li>
                <li><%= link_to 'Edit profile', edit_user_registration_path(current_user) %></li>
                <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
              </ul>
            </li>
          </ul>
        </div>
    <% end %>

    <!-- /.navbar-collapse -->

    <!--/.nav-collapse -->
  </div>
</nav>

<script>
  $(window).on('scroll',function(e){
    if (this.scrollY> 0) {
      $("nav.navbar").addClass("nav-scroll");
    } else {
      $("nav.navbar").removeClass("nav-scroll");
    }
  });
</script>


