<h3>Search result <em><%= params[:query]%></em></h3>
<!-- Content Start -->
<div id="content">
  <div class="container">
    <div class="row">
      <%if @search_results.blank?%>
        <% unless @correct_result.blank? %>
          <h3> Did you mean? <%= @correct_result.first %> </h3>
        <% end %>
      <% end %>
      <div class="col-md-9">
        <!-- Blog Article Start-->
        <% unless params[:search] == 'profiles'%>
          <% @search_results.each do |pg_search_document| %>
            <% post = pg_search_document.searchable %>
            <%= render 'shared/article_block', :post => post %>
          <% end %>
            <%= will_paginate @search_results %>
        <% else %>
          <% @search_results.each do |result| %>
            <h4> <%= link_to "To #{result.user_nicename} profile ", result %></h4>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>



