<div class="container">
  <h1>History</h1>

  <ul>
    <% @versions.each do |version| %>

        <li>
          <%= l(version.created_at, format: "%-d.%m.%Y %H:%M:%S %Z") %><br/>
          Event ID: <%= version.id %><br/>

          <b>Target:</b> <%= version.item_type %>
          <small>(id: <%= version.item_id %>)</small>; <b>action</b> <%= version.event %>;<br/>
          <div>
            <div>
              Changeset:
              <pre><%= version.changeset %></pre>
            </div>
            More info:
            <pre><%= version.object %></pre>
          </div>
        </li>
    <% end %>
  </ul>
</div>