<div class="content">
  <div class="wrap">
    <div id="main" role="main">
      <p id="notice"> <%= notice %> </p>
      <ul id="tiles">
        <!-- These are our grid blocks -->
        <% @foodiye_posts.each do |foodiye_post|%>
          <li>
            <% if foodiye_post.post_type == "photo" %>
              <% if foodiye_post.attachment.url.present? or (foodiye_post.attachment.url.present? && foodiye_post.photo_link.present?) %>
                <%= link_to image_tag(foodiye_post.attachment.url), foodiye_post_path(foodiye_post) %>
              <% elsif foodiye_post.photo_link.present? %>
                 <%= link_to image_tag(foodiye_post.photo_link), foodiye_post_path(foodiye_post) %>
              <% end %>
            <% elsif foodiye_post.post_type == "video" %>
              <iframe width="278" height=auto  src="<%= foodiye_post.video_url %>" frameborder="0" ></iframe>
            <% end %>
            <!--<img src="images/img1.jpg" width="282" height="118">-->
            <div class="post-info">
              <div class="post-basic-info">
                <h3> <%= link_to foodiye_post.title, foodiye_post_path(foodiye_post) %> </h3>
                <p> <%= foodiye_post.description %></p>
              </div>
              <% if user_signed_in? %>
                  <% if current_user.id == foodiye_post.user_id %>
                    <%= link_to 'Edit', edit_foodiye_post_path(foodiye_post) %>
                    <%= link_to 'Destroy', foodiye_post_path(foodiye_post), method: :delete, data: { confirm: 'Are you sure?' } %>
                  <% end %>
                  <% if current_user.role_id == 2 %>
                      <%= link_to 'Destroy as admin', foodiye_post_path(foodiye_post), method: :delete, data: { confirm: 'Are you sure?' } %>
                  <% end %>

                  <% if foodiye_post.user.present? %>
                    <%= link_to foodiye_post.user.user_nicename, user_path(foodiye_post.user)%>
                  <% end %>
                <% if current_user.likes? foodiye_post %>
                   <%= unlike_link_for(foodiye_post)  %>
                <%  else %>
                   <%= like_link_for(foodiye_post) %>
                <% end %>
                Like count <%= foodiye_post.like_count  %>
              <% end %>
              <% foodiye_post_comment = CommentBlock.where(foodiye_post_id: foodiye_post.id) %>
              <% foodiye_post_comment.each do |comment|%>
              <div class="post-info-rate-share">
                <% user = User.find(comment.user_id)%>
                <% if user.present? %>
                  <%= link_to user.user_nicename, user_path(user) %>
                <% end %>
                  <% if comment.attachment_file_size != nil %>
                    <%= image_tag comment.attachment.url(:thumb) %>
                  <% end %>
                <%= comment.body %>
              </div>
              <% end %>
              <% if user_signed_in? %>


                  <div class="post-info-rate-share">
                    <div>
                      <% comment_block = CommentBlock.new %>
                      <%= form_for([foodiye_post, comment_block]) do |f| %>
                        <p> <%= f.text_area :body, rows: 1, style: "margin: 0px; width: 100%; height: 40px;" %> </p>
                        <%= f.file_field :attachment, as: :file %>
                        <p> <%= f.button 'comment', class: "btn btn-primary" %> </p>
                      <% end %>
                    </div>

                    <div class="post-share">
                      <span>  </span>
                    </div>
                    <div class="clear"> </div>
                  </div>
              <% end %>
            </div>
          </li>
        <% end %>
        <!-- End of grid blocks -->
      </ul>
    </div>
  </div>
</div>
<%= will_paginate  @foodiye_posts%>
<!---//End-content---->
<!----wookmark-scripts---->
  <script type="text/javascript">
    (function ($){
      var $tiles = $('#tiles'),
        $handler = $('li', $tiles),
        $main = $('#main'),
        $window = $(window),
        $document = $(document),
        options = {
          autoResize: true, // This will auto-update the layout when the browser window is resized.
          container: $main, // Optional, used for some extra CSS styling
          offset: 20, // Optional, the distance between grid items
          itemWidth:280 // Optional, the width of a grid item
        };
      /**
       * Reinitializes the wookmark handler after all images have loaded
       */
      function applyLayout() {
        $tiles.imagesLoaded(function() {
          // Destroy the old handler
          if ($handler.wookmarkInstance) {
            $handler.wookmarkInstance.clear();
          }
          // Create a new layout handler.
          $handler = $('li', $tiles);
          $handler.wookmark(options);
        });
      }
      /**
       * When scrolled all the way to the bottom, add more tiles
       */
      // Call the layout function for the first time
      applyLayout();
      // Capture scroll event.
      $window.bind('scroll.wookmark', onScroll);
    })(jQuery);
  </script>
<!----//wookmark-scripts---->
