<div class="content">
  <div class="wrap">
    <div id="main" role="main">
      <ul id="tiles">
        <!-- These are our grid blocks -->
        <% @users.each do |user|%>
            <% unless user.email.nil? %>
          <li >
            <% if user.avatar.present? %>
              <%= image_tag user.avatar.url %>
            <% elsif user.fb_image_url.present?%>
              <%= image_tag user.fb_image_url %>
            <% else %>
              <%= image_tag ('default_user_icon.jpg') %>
            <% end %>
            <div class="post-info">
              <h3> <%= link_to user.user_nicename, user_path(user) %> </h3>
            </div>
          </li>
        <% end %>
            <% end %>
        <!-- End of grid blocks -->
      </ul>
    </div>
  </div>
</div>
<%= will_paginate @users %>

<!---//End-content---->
<!----wookmark-scripts---->
<script type="text/javascript">
  (function ($){
    var $tiles = $('#tiles'),
        $handler = $('li', $tiles),
        $main = $('#main'),
        $window = $(window),
        $document = $(document),
        options = {
          autoResize: true, // This will auto-update the layout when the browser window is resized.
          container: $main, // Optional, used for some extra CSS styling
          offset: 20, // Optional, the distance between grid items
          itemWidth:280 // Optional, the width of a grid item
        };
    /**
     * Reinitializes the wookmark handler after all images have loaded
     */
    function applyLayout() {
      $tiles.imagesLoaded(function() {
        // Destroy the old handler
        if ($handler.wookmarkInstance) {
          $handler.wookmarkInstance.clear();
        }
        // Create a new layout handler.
        $handler = $('li', $tiles);
        $handler.wookmark(options);
      });
    }
    /**
     * When scrolled all the way to the bottom, add more tiles
     */
      // Call the layout function for the first time
    applyLayout();
    // Capture scroll event.
    $window.bind('scroll.wookmark', onScroll);
  })(jQuery);
</script>
<!----//wookmark-scripts---->
