<p id="notice"><%= notice %></p>
<!---start-content---->
<div class="row">
  <div class="col-md-9">
    <div class="content">
      <div class="wrap">
        <div class="single-page">
          <div class="single-page-artical">
            <div class="artical-content">
              <%= link_to 'Back', foodiye_posts_path %>
              <% if @foodiye_post.post_type == "photo" %>
                  <% if @foodiye_post.attachment.url.present? or (@foodiye_post.attachment.url.present? && @foodiye_post.photo_link.present?) %>
                      <%= link_to image_tag(@foodiye_post.attachment.url), foodiye_post_path(@foodiye_post) %>
                  <% elsif @foodiye_post.photo_link.present? %>
                      <%= link_to image_tag(@foodiye_post.photo_link), foodiye_post_path(@foodiye_post) %>
                  <% end %>
                  <h3> <%= @foodiye_post.title%> </h3>
                  <p> <%= @foodiye_post.description %></p>
              <% elsif @foodiye_post.post_type == "video" %>
                  <iframe width=100% height="500"  src="<%= @foodiye_post.video_url %>" frameborder="0" ></iframe>
                  <h3> <%= @foodiye_post.title%> </h3>
                  <p> <%= @foodiye_post.description %></p>
              <% else @foodiye_post.post_type == "topic" %>
                  <h3> <%= @foodiye_post.title%> </h3>
                  <p> <%= @foodiye_post.description %></p>
              <% end %>
            </div>
            <%= link_to 'Edit', edit_foodiye_post_path(@foodiye_post) %> |
            <%= link_to 'Destroy', foodiye_post_path(@foodiye_post), method: :delete, data: { confirm: 'Are you sure?' } %>

            <!--<div class="artical-links">-->
            <!--<div class="share-artical">-->
            <!--<div class="clear"></div>-->
          </div>
          <!---start-comments-section--->
          <div class="comment-section">
            <div class="grids_of_2">
              <h2>Comments</h2>
              <div class="grid1_of_2">
                <% foodiye_post_comment = CommentBlock.where(foodiye_post_id: @foodiye_post.id) %>
                <% foodiye_post_comment.each do |comment|%>
                <% user = User.find(comment.user_id)%>
                  <div class="grid_text">
                    <h4 class="style1 list"> <%= "#{user.user_nicename}: " %> </h4>
                    <h3 class="style"> <%= comment.created_at %> </h3>
                    <p class="para top">  <%= comment.body %> </p>
                  </div>
                  <div class="clear"></div>
                <% end %>
              </div>
              <div class="artical-commentbox">
                <h2>Leave a Comment</h2>
                <div class="table-form">
                  <% comment_block = CommentBlock.new %>
                  <%= form_for([@foodiye_post, comment_block]) do |f| %>
                    <p> <%= f.text_area :body, rows: 1, style: "margin: 0px; width: 100%; height: 40px;" %> </p>
                    <%= f.file_field :attachment, as: :file %>
                    <p> <%= f.button 'comment', class: "btn btn-primary" %> </p>
                  <% end %>
                </div>
                <div class="clear"></div>
              </div>
            </div>
          </div>
          <!---//End-comments-section--->
        </div>
      </div>
    </div>
  </div>
</div>
<!----start-footer--->
<div class="footer">
  <p></p>
</div>
<!----//End-footer--->
<!---//End-wrap---->

