<div id="login-box">
  <div class="left">
    <h1>Sign in</h1>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email, required: false, autofocus: true, :input_html => { :type => "username" } %>
          <%= f.input :password, required: false, :input_html => { :type => "email" } %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Log in", :input_html => { :type => "signup_submit" } %>
        </div>
    <% end %>
  </div>

  <div class="right">
    <span class="loginwith">Sign in with<br />social network</span>
    <%= link_to "<button class='social-signin facebook'>Log in with facebook</button>".html_safe, user_facebook_omniauth_authorize_path %>
  </div>
  <div class="or">OR</div>
</div>