<p id="notice"><%= notice %></p>

<h1>Post Collaborators</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @post_collaborators.each do |post_collaborator| %>
      <tr>
        <td><%= link_to 'Show', post_collaborator %></td>
        <td><%= link_to 'Edit', edit_post_collaborator_path(post_collaborator) %></td>
        <td><%= link_to 'Destroy', post_collaborator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post Collaborator', new_post_collaborator_path %>
