<!DOCTYPE html>
<html>

<div class="alert alert-success">
  <p id="notice"><%= notice %></p>
</div>
<body>

    <%= render 'shared/list_post', :post => @posts %>

<% unless params[:tag] %>
  <%= will_paginate @posts %>
<% else %>
    <%#= will_paginate @post_tags %>
<% end %>
</body>
</html>