<p id="notice"><%= notice %></p>
<% @posts.each do |post| %>
    <div class="post">
      <h1 color="red"> <%= link_to post.title, post_path(post) %> </h1>
      <div class="meta">
        <span class="admin">Author: <%= link_to post.user.user_nicename, authors_path(post.user.user_nicename) %></span>
        <span class="date">Date: <%= post.created_at %></span>
        <span class="tag"> Tags:<% post.tags.each do |l| %> <%= link_to l.name, tags_path(l.slug) %> <% end %> </span>
        <span class="comment">Categories: <% unless post.category.blank? %> <%= link_to post.category.name, category_path(post.category.name) %> <% end %> </span>
        <div class="cleaner"></div>
      </div>
      <p><%= markdown(post.content) %></p>
    </div>
<% end %>

<%= will_paginate @posts %>



