/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require timeline
 *= require sb-admin-2
 *= require morris
 *= require fonts/font-awesome.min
 *= require fonts/intimate-fonts
 *= require simple_form_markdown_editor
 *= require user_info
 *= require_self

 */

.form-inline .form-group { margin-right:10px; }
//.well-primary {
//    color: rgb(18, 18, 18);
//    background-color: rgb(66, 139, 202);
//    border-color: rgb(53, 126, 189);
//}
.glyphicon { margin-right:5px; }

body {font-family: 'Roboto';}
.TITLE-com {background-color:#282a2d;
    color: white;
    font-size: 1.2em;
    padding:.3em;
    box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.50);
    letter-spacing: .2em;
}
i{padding-top:.2em;}
.comment-bg {background-color:#cfcfcf; padding-top: .1em;}
.comment-item {background-color: white; margin: 0 -1.3em; padding: .5em;}

.comment-txt {font-weight: 500; color: black;}
.comment-txt-1 {font-weight: 501; color: darkblue;}
.comment-name {font-weight: 900; text-align: right; color: #fe5d5d;}

/*Filters*/
.filter-container {
    display: inline;
    position: relative;
    margin-bottom: 10px;
    height: 30px;
}
.filter-label {
    color: #707070;
}
.filter-status>li a {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    padding: 1px 7px;
    border: 1px solid transparent;
    border-radius: 3px;
    text-decoration: none;
}
.link-style a {
    color: cornflowerblue;
    outline: none;
    text-decoration: none;
    font-size: 110%;
}
tr.table-links-title a {
    font-weight: 600;
    color: black;
    outline: none;
    text-decoration: none;
    font-size: 110%;
}
tr.table-links a {
    color: cornflowerblue;
    outline: none;
    text-decoration: none;
}

#test {
  background-color: AliceBlue;
  padding: 20px;
  border: 1px solid black;
}

#recipe_block {
  margin: 50px;
}

#ingridient li {
  list-style-type: disc;
}

#intstruct li {
  list-style-type: decimal;
}

.alert {
  font-weight: bold;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  margin-bottom: 18px;
  padding: 12px 25px 12px 24px;
  -moz-box-shadow: 3px 3px 1px 1px #CCCCCC ;
  -webkit-box-shadow: 3px 3px 1px 1px #CCCCCC ;
  box-shadow: 3px 3px 1px 1px #CCCCCC ;
}
.alert-success {
  background-color: #66E167 ;
  border-color: #D6E9C6 ;
  width: 280px;
  color: black;
  padding-top: 20px;
}

