@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,600);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300);
/* ==========================================================================
   Global Styles
   ========================================================================== */
/* ==========================================================================
   Preset Loader
   ========================================================================== */
/* ==========================================================================
   Google Fonts
   ========================================================================== */
body {
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  color: #666666;
  background: #f5f5f5;
}
p {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 300;
  color: #4f4f4f;
  line-height: 24px;
}
a {
  color: #666666;
  transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
}
a:hover,
a:focus,
a.active {
  color: #ec483b;
  outline: none;
  text-decoration: none;
}
img {
  width:auto;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
ol {
  list-style: none;
}
#content {
  background: rgba(255, 255, 255, 0.21);
}
.btn {
  font-size: 16px;
  opacity: 1;
  border-radius: 0px;
  font-weight: 600;
}
.btn:focus,
.btn:hover {
  outline: none;
}
.btn-common {
  font-size: 16px;
  color: #ec483b;
  padding: 0px;
  text-transform: uppercase;
}
.btn-common i {
  font-size: 16px;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.btn-common:hover i {
  margin-left: 8px;
}
.btn-common:hover {
  color: #ec483b;
}
.btn-border {
  font-size: 14px;
  border: none;
  color: #ec483b;
  background: #fff;
  margin-left: 4px;
  font-weight: 500;
  margin-top: 40px;
  font-size: 20px;
  border-radius: 0px;
  text-transform: uppercase;
  line-height: 28px;
  transition: all 300ms ease 0s;
}
.btn-border:hover {
  background: #ec483b;
  color: #fff;
}
.btn-system {
  font-size: 14px;
  border: 1px solid #E3E3E3;
  background: #ec483b;
  color: #ffffff;
  font-weight: 500;
  margin-top: 40px;
  font-size: 20px;
  border-radius: 0px;
  text-transform: uppercase;
  line-height: 28px;
  border: 0px;
  -webkit-transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -ms-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.1) inset;
}
.btn-system:hover {
  box-shadow: 0px 60px 0px rgba(0, 0, 0, 0.1) inset;
  color: #fff;
}
.btn-lg {
  padding: 15px 30px;
  margin: 40px 10px;
}
.btn-sn {
  width: 100%;
  background: #ec483b;
  border-radius: 0px;
  padding: 18px 0px;
  color: #fff;
}
.btn-sn:hover {
  color: #fff;
}
.btn.disabled {
  opacity: 1;
}
#content {
  padding: 30px 0;
}
#portfolio-list .mix {
  display: none;
}
.space {
  margin-bottom: 20px;
  display: block;
}
.side {
  position: relative;
  float: right;
  top: 0;
  padding: 32px 0;
  margin-left: 4px;
  right: -15px;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.side a {
  display: inline-block;
  color: #666666;
  margin-right: 15px;
  font-size: 16px;
}
.side a:hover {
  color: #ec483b;
}
.show-search:hover i {
  color: #666;
}
.show-search:hover i:hover {
  color: #ec483b;
  cursor: pointer;
}
.full-search {
  z-index: 9999;
  position: absolute;
  top: 70px;
  display: none;
  margin-bottom: -1px;
}

/* ==========================================================================
   Blog Post Start
   ========================================================================== */
.blog-title {
  font-size: 30px;
  line-height: 40px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  padding: 0;
  margin: 0;
}
.blog-title a {
  color: #666;
}
.blog-title a:hover {
  color: #ec483b;
}
article {
  background: #fff;
  padding: 30px;
  position: relative;
  margin-bottom: 30px;
  box-shadow: 2px 2px 8px rgba(45, 45, 45, 0.36);
  opacity: 0.90;
}
article a {
  //color: #ec483b;
  font-size: 110%;
}
.single-post-content {
  padding: 0;
  box-shadow: none;
}
.entry-widget {
  background: #fff;
  position: relative;
  margin-bottom: 30px;
  box-shadow: 2px 2px 8px rgba(45, 45, 45, 0.36);
}
.blog-item-wrap .post-format {
  position: absolute;
  top: 50px;
  right: 30px;
  font-size: 26px;
  color: #ec483b;
  margin-top: -9px;
}
.blog-item-wrap .post-content img{
  max-width: 100%;
  width: auto;
}
.blog-item-wrap .entry-meta {
  margin-top: 7px;
  margin-bottom: 30px;
  font-size: 12px;
}
.blog-item-wrap .entry-meta .meta-part {
  color: #ec483b;
  margin-right: 5px;
}
.blog-item-wrap .entry-meta .meta-part a {
  color: #999999;
}
.blog-item-wrap .entry-meta .meta-part a:hover {
  color: #ec483b;
}
.blog-item-wrap .feature-inner {
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
    max-width: 300px;
    max-height: 300px;
}
.blog-item-wrap .entry-more {
  width: 100%;
  margin-top: 8px;
  display: inline-block;
  position: relative;
}
.blog-item-wrap .entry-more .share-icon {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.blog-item-wrap .entry-more .share-icon a {
  font-size: 22px;
  margin-right: 8px;
}

.post-quote {
  width: 100%;
  background: #ec483b;
  color: #fff;
}
.post-quote blockquote {
  padding: 20px 80px;
  border-left: 0px;
}
.post-quote blockquote .icon {
  font-size: 30px;
  margin-bottom: 10px;
}
.post-quote blockquote .icon i {
  color: #fff;
}
.post-quote blockquote p {
  color: #fff;
  font-size: 22px;
  letter-spacing: 1px;
  line-height: 32px;
}
.post-quote blockquote a {
  color: #e4c0be;
  font-size: 14px;
}
article .pager {
  margin: 1px;
}
article .pager li a {
  font-size: 22px;
  color: #999 !important;
  text-transform: uppercase;
  padding: 0;
  border: none;
}
article .pager li a:hover,
article .pager li a:focus {
  color: #ec483b !important;
  background: transparent;
}
article .pager span {
  line-height: 20px;
  padding: 5px;
  border: 0;
}
article .pager span a {
  color: #666;
  font-size: 12px;
  padding: 0px;
  margin-right: 3px;
  border: 1px solid #666;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 28px;
  background-color: transparent;
  display: inline-block;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.pager > span > a:focus,
.pager > span > a:hover {
  background-color: #ec483b;
  border-color: #ec483b;
  color: #fff;
}
.pager > .active > a,
.pager > .active > a:focus,
.pager > .active > a:hover {
  background-color: #ec483b;
  border-color: #ec483b;
  color: #fff;
}
.widget-profile .image {
  overflow: hidden;
  position: relative;
  height: 168px;
}
.widget-profile .portfolio {
  position: absolute;
  top: 16%;
  border-radius: 50%;
  width: 120px;
  border: 3px solid #ffffff;
  height: 120px;
  overflow: hidden;
  left: 32%;
}
.widget-profile .info {
  text-align: center;
  padding: 30px 30px 18px;
}
.widget-profile .info .name {
  font-size: 22px;
  margin-top: 25px;
  margin-bottom: 20px;
}
.sidebar .nav-tabs {
  background: #ffffff;
}
.sidebar .nav-tabs li {
  margin-bottom: 1px;
}
.sidebar .nav-tabs li > a {
  border-radius: 0px;
  border: medium none;
  font-size: 16px;
  font-weight: 600;
  color: #666;
  margin: -1px;
  padding: 15px 28.32px;
}
.sidebar .nav > li > a:focus,
.sidebar .nav > li > a:hover {
  background-color: #ec483b;
  color: #fff;
  outline: none;
}
.sidebar .nav-tabs > li.active > a,
.sidebar .nav-tabs > li.active > a:focus,
.sidebar .nav-tabs > li.active > a:hover {
  background-color: #ec483b;
  color: #fff;
  border: none;
}
.sidebar .tab-content {
  padding: 30px 20px 20px;
}
.more {
  font-size: 16px;
  color: #ec483b;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0px;
}
.widget-title {
  font-size: 16px;
  font-weight: 500;
  padding: 15px 20px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 20px;
  text-align: center;
}
.posts-list li {
  margin-bottom: 20px;
  border-bottom: 1px solid #f5f5f5;
  padding-bottom: 20px;
  min-height: 74px;
}
.posts-list li .widget-thumb {
  float: left;
}
.posts-list li .widget-thumb a img {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.posts-list li .widget-thumb a img:hover {
  opacity: 0.7;
}
.posts-list li .widget-content {
  margin-left: 85px;
}
.posts-list li .widget-content a {
  font-size: 14px;
  font-weight: 500;
}
.posts-list li .widget-content .meta {
  margin-top: 5px;
}
.posts-list li .widget-content .meta span {
  color: #999;
  margin-right: 5px;
  font-size: 12px;
}
.posts-list li .widget-content .meta span i {
  color: #ec483b;
}
.accordion {
  padding: 0px 20px 20px;
}
.accordion .panel-default {
  border: none;
  box-shadow: none;
}
.accordion .panel-default .panel-title {
  font-size: 14px;
  padding: 4px 0;
  color: #666666;
}
.accordion .panel-default .panel-title a:focus {
  text-decoration: none;
  outline: none;
}
.accordion .panel-body {
  padding: 0 15px;
}
.accordion .panel-body .cat-menu-list li {
  margin-bottom: 4px;
}
.accordion .panel-body .cat-menu-list li a {
  color: #666666;
}
.accordion .panel-body .cat-menu-list li a:hover {
  color: #ec483b;
}
.panel-default .panel-title a {
  color: #666;
}
.panel-default .panel-title a:hover {
  color: #ec483b;
}
.panel-default .panel-title a.collapsed {
  color: inherit;
}

