@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

table{
    display:table;
    width:100%;
}
tr{
    display:table-row;
}
td{
    display:table-cell;
}
a.user-img{
    margin:10px;
    width:70px;
    height:70px;
    border-radius:40px;
    overflow:hidden;
    border:1px solid darkgrey;
}
a.user-img:hover{
    background-color:#337ab7 !important;
}
a.user-img:focus{
    background-color:#337ab7 !important;
}
a.user-img:hover span.glyphicon-user{
    color:aliceblue;
}
.nav-scroll{
    background-color:rgba(255,255,255,0.8);
}
a.user-img span.glyphicon-user{
    margin:-10px;
    margin-top:0px;
    color:#fff;
    font-size:58px;
}
#pricing-btn{
    margin-top:20px;
    border-color:green;
    color:green;
    border-radius:30px;
    padding-top:8px;
    padding-bottom:8px;
}
div.user-info{
    margin:10px;
}
.no-pad{
    margin:3px !important;
}
div.quote-page{
    color:#aeaeae;
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
    background-color:#fff;
    border-radius:6px;
    padding:50px;
    padding-top:10px;
}
h1{
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
    font-size:4em;
}
.border-bottom{
    border-bottom:1px solid #aeaeae;
}
.bordered{
    border:1px solid #aeaeae;
}
table.quote-tbl-head{
    width:100%;
}

table.quote-tbl-head tr td>h1>small{
    font-size:0.2em;
}
table.quote-tbl-head td.date{
    text-align:right;
    font-size:1em;
    font-weight:bold;
}
tr.quote-tbl-info td{
    font-size:1.2em;
    font-weight:400;
    padding-top:1.5em;
}
tr.quote-tbl-info td{
    width:40%;
}
tr.quote-tbl-info td.td-thin{
    width:10%;
}
tr.quote-tbl-info table{
    font-size:0.8em;
}
table.quote-lines{
    width:100%;
    margin:20px;
}
table.quote-lines thead, tfoot{
    border:1px solid #aeaeae;
}
.ralign{
    text-align:right;
}
.calign{
    text-align:center;
}
table.quote-lines th{
    padding:20px;
    font-weight:bold;
}
table.quote-lines tbody>tr>td{
    padding:10px;
}
tr.terms>td{
    padding-top:20px;
    font-size:0.8em;
}
table.branding td:first-child{
    font-weight:900;
    font-size:0.9em;
    padding-top:20px;
}
td.group-logo{
    height: 40px;
    background-image: url('http://officeactive.co.za/images/office%20active%20independent%20office%20product%20alliance.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
table.quote-lines tbody>tr:hover{
    background-color:#f1faf7;
    border-bottom: 2px solid #d2d2d2;
    border-right: 2px solid #d2d2d2;
    border-top: 1px solid #d2d2d2;
    border-left: 1px solid #d2d2d2;
}
td.edit-row i{
    visibility:hidden;
}
table.quote-lines tbody>tr:hover>td.edit-row>i{
    visibility:initial;
}



/*SEARCH*/

.block_search {
    width: 100px;
    margin-left: 300px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}

.search {
    width: 100%;
    position: relative;
    margin-top: -10px;
}

.searchTerm {
    float: left;
    width: 100%;
    border: 2px solid #00B4CC;
    padding: 5px;
    height: 35px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus{
    color: #00B4CC;
}

.searchButton {
    position: absolute;
    right: -50px;
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 30px;
}



/*Resize the wrap to see the search bar change!*/
.wrap{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}