@font-face {
	font-family: 'intimate-blog';
	src:asset-url('fonts/intimate-blog.eot');
	src:asset-url('fonts/intimate-blog.eot') format('embedded-opentype'),
        asset-url('fonts/intimate-blog.ttf') format('truetype'),
        asset-url('fonts/intimate-blog.woff') format('woff'),
        asset-url('fonts/intimate-blog.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="ico-"], [class*=" ico-"] {
	font-family: 'intimate-blog';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	
	/* Enable Ligatures ================ */
	letter-spacing: 0;
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ico-geckblog:before {
	content: "\e900";
}
.ico-calendar-alt-fill:before {
	content: "\e901";
}
.ico-book-alt2:before {
	content: "\e902";
}
.ico-star:before {
	content: "\e903";
}
.ico-th-menu:before {
	content: "\e904";
}
.ico-times:before {
	content: "\e905";
}
.ico-tick:before {
	content: "\e906";
}
.ico-home:before {
	content: "\e907";
}
.ico-call:before {
	content: "\e03f";
}
.ico-email:before {
	content: "\e04c";
}
.ico-forum:before {
	content: "\e04d";
}
.ico-location_on:before {
	content: "\e052";
}
.ico-keyboard_arrow_down:before {
	content: "\e10f";
}
.ico-keyboard_arrow_left:before {
	content: "\e110";
}
.ico-keyboard_arrow_right:before {
	content: "\e111";
}
.ico-keyboard_arrow_up:before {
	content: "\e112";
}
.ico-camera:before {
	content: "\e017";
}
.ico-video:before {
	content: "\e018";
}
.ico-search:before {
	content: "\e036";
}
.ico-zoom-in:before {
	content: "\e037";
}
.ico-zoom-out:before {
	content: "\e038";
}
.ico-reply:before {
	content: "\e039";
}
.ico-circle-plus:before {
	content: "\e040";
}
.ico-circle-minus:before {
	content: "\e041";
}
.ico-circle-check:before {
	content: "\e042";
}
.ico-circle-cross:before {
	content: "\e043";
}
.ico-record:before {
	content: "\e049";
}
.ico-skip-back:before {
	content: "\e050";
}
.ico-rewind:before {
	content: "\e051";
}
.ico-play:before {
	content: "\e053";
}
.ico-pause:before {
	content: "\e054";
}
.ico-stop:before {
	content: "\e055";
}
.ico-fast-forward:before {
	content: "\e056";
}
.ico-skip-forward:before {
	content: "\e057";
}
.ico-shuffle:before {
	content: "\e058";
}
.ico-repeat:before {
	content: "\e059";
}
.ico-location:before {
	content: "\e070";
}
.ico-share:before {
	content: "\e081";
}
.ico-arrow-left:before {
	content: "\e094";
}
.ico-arrow-right:before {
	content: "\e095";
}
.ico-arrow-up:before {
	content: "\e096";
}
.ico-arrow-down:before {
	content: "\e097";
}
.ico-users:before {
	content: "\e908";
}
.ico-user:before {
	content: "\e909";
}
.ico-diamond:before {
	content: "\e90a";
}
.ico-500px-with-circle:before {
	content: "\e90b";
}
.ico-rdio-with-circle:before {
	content: "\e90c";
}
.ico-skype-with-circle:before {
	content: "\e90d";
}
.ico-skype:before {
	content: "\e90e";
}
.ico-spotify-with-circle:before {
	content: "\e90f";
}
.ico-vine-with-circle:before {
	content: "\e910";
}
.ico-vk-with-circle:before {
	content: "\e911";
}
.ico-xing-with-circle:before {
	content: "\e912";
}
.ico-dribbble-with-circle:before {
	content: "\e913";
}
.ico-facebook-with-circle:before {
	content: "\e914";
}
.ico-flickr-with-circle:before {
	content: "\e915";
}
.ico-github-with-circle:before {
	content: "\e916";
}
.ico-google-with-circle:before {
	content: "\e917";
}
.ico-instagram-with-circle:before {
	content: "\e918";
}
.ico-lastfm-with-circle:before {
	content: "\e919";
}
.ico-linkedin-with-circle:before {
	content: "\e91a";
}
.ico-pinterest-with-circle:before {
	content: "\e91b";
}
.ico-stumbleupon-with-circle:before {
	content: "\e91c";
}
.ico-tumblr-with-circle:before {
	content: "\e91d";
}
.ico-twitter-with-circle:before {
	content: "\e91e";
}
.ico-vimeo-with-circle:before {
	content: "\e91f";
}
.ico-youtube-with-circle:before {
	content: "\e920";
}
.ico-number:before {
	content: "\e921";
}
.ico-number2:before {
	content: "\e922";
}
.ico-number3:before {
	content: "\e923";
}
.ico-number4:before {
	content: "\e924";
}
.ico-number5:before {
	content: "\e925";
}
.ico-number6:before {
	content: "\e926";
}
.ico-number7:before {
	content: "\e927";
}
.ico-number8:before {
	content: "\e928";
}
.ico-number9:before {
	content: "\e929";
}
.ico-number10:before {
	content: "\e92a";
}
.ico-number11:before {
	content: "\e92b";
}
.ico-number12:before {
	content: "\e92c";
}
.ico-number13:before {
	content: "\e92d";
}
.ico-number14:before {
	content: "\e92e";
}
.ico-number15:before {
	content: "\e92f";
}
.ico-number16:before {
	content: "\e930";
}
.ico-number17:before {
	content: "\e931";
}
.ico-number18:before {
	content: "\e932";
}
.ico-number19:before {
	content: "\e933";
}
.ico-number20:before {
	content: "\e934";
}
.ico-quote:before {
	content: "\e935";
}
.ico-quote2:before {
	content: "\e936";
}
.ico-tag:before {
	content: "\e937";
}
.ico-tag2:before {
	content: "\e938";
}
.ico-3dglasses:before {
	content: "\e939";
}
.ico-comments:before {
	content: "\e93a";
}
.ico-bookmark:before {
	content: "\e93b";
}
.ico-heart:before {
	content: "\e93c";
}
.ico-globe:before {
	content: "\e93d";
}
.ico-shipping:before {
	content: "\e93e";
}
.ico-yingyang:before {
	content: "\e93f";
}
.ico-compass:before {
	content: "\e940";
}
.ico-anchor:before {
	content: "\e941";
}
.ico-tags:before {
	content: "\e942";
}

