<!DOCTYPE html>
<html>
  <head>
    <title>ChefAtLarge</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'http://www.chefatlarge.in/wp-content/uploads/2016/02/green-apple-16-238164.png' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag 'bootstrap.min.css', media: 'screen' %>
    <%= stylesheet_link_tag 'fonts/font-awesome.min', media: 'screen' %>
    <%= stylesheet_link_tag 'fonts/intimate-fonts', media: 'screen' %>
    <%= stylesheet_link_tag 'main.css', media: 'screen' %>
    <%= javascript_include_tag 'application' %>
    <%= analytics_init if GoogleAnalytics.valid_tracker? %>
  </head>
  <body>
    <div class="row">
      <% if user_signed_in? %>
      <%= render 'shared/user_info' %>
      <% else %>
          <div class="col-md-8">
          <%= link_to 'Sign in', new_user_session_path %> or <%= link_to 'Sign up', new_user_registration_path %>
      <% end %>
          </div>
    </div>

    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.7&appId=318379988503662";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <%= yield %>
    <!----start-footer--->
    <%#= render 'shared/footer' %>
    <!----//End-footer--->
  </body>
</html>
