<!DOCTYPE html>
<html>
<head>
  <title> Authorisation </title>
  <%= stylesheet_link_tag 'authorisation', media: 'all' %>
  <%= javascript_include_tag 'application', media: 'all' %>
</head>
<body>

<%= yield %>

</body>
</html>