<!DOCTYPE html>
<html>
  <head>
    <title> Hot | Foodiye </title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'http://www.chefatlarge.in/wp-content/uploads/2016/02/green-apple-16-238164.png' %>
    <%= stylesheet_link_tag 'foodiye', media: 'all' %>
    <%= stylesheet_link_tag 'bootstrap.min.css', media: 'screen' %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag 'foodiye' %>
    <%= analytics_init if GoogleAnalytics.valid_tracker? %>
  </head>
  <body>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script type="text/javascript">
      var $ = jQuery.noConflict();
      $(function() {
        $('#activator').click(function(){
          $('#box').animate({'top':'0px'},500);
        });
        $('#boxclose').click(function(){
          $('#box').animate({'top':'-700px'},500);
        });
      });
      $(document).ready(function(){
        //Hide (Collapse) the toggle containers on load
        $(".toggle_container").hide();
        //Switch the "Open" and "Close" state per click then slide up/down (depending on open/close state)
        $(".trigger").click(function(){
          $(this).toggleClass("active").next().slideToggle("slow");
          return false; //Prevent the browser jump to the link anchor
        });

      });
    </script>
    <!---start-wrap---->
    <!---start-header---->

    <%= render 'shared/foodiye/header_foodiye' %>
    <!---end-wrap---->
    <!---end-header---->
    <%= yield %>
    <!----start-footer--->
    <%= render 'shared/foodiye/footer_foodiye' %>
    <!----//End-footer--->
    <!---//End-wrap---->
  </body>
</html>